{% extends "base.html" %}

{% block title %} Create Transaction {% endblock %}

{% block main %} 
<form action="{{ url_for('create_transaction', type=type) }}" method="post">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row g-3">
                <div class="col-12">
                    <label for="account" class="form-label">Account</label>
                    <select class="form-select" name="account" id="account">
                        <option value="-1" disabled selected>Select Account</option>
                        {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.account_name }} ({{ account.bank_name }} - {{ account.owner_name }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" name="date" id="date">
                </div>
                <div class="col-12">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="text" class="form-control" name="amount" id="amount" placeholder="Enter Amount">
                </div>
                <div class="col-12">
                    {% if type == 'transfer' %}
                        <label for="target" class="form-label">Transfer To</label>
                        <select class="form-select" name="target" id="target">
                            <option value="-1" disabled selected>Select Account</option>
                            {% for account in accounts %}
                            <option value="{{ account.id }}">{{ account.account_name }} ({{ account.bank_name }} - {{ account.owner_name }})</option>
                            {% endfor %}
                        </select>    
                    {% elif type == 'income' %}
                        <label for="target" class="form-label">Source</label>
                        <input type="text" class="form-control" name="target" id="target" placeholder="Enter Source">
                    {% else %}
                        <label for="target" class="form-label">Destination</label>
                        <input type="text" class="form-control" name="target" id="target" placeholder="Enter Destination">
                    {% endif %}
                </div>
                <div class="col-12">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" id="description" placeholder="Enter Description">
                </div>
            </div>
            <hr class="my-4">
            <div class="row g-3">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Create</button>
                <a href="/view_transactions" class="w-100 btn btn-secondary btn-lg" role="button">Cancel</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}

<!-- account, date, amount, target, description -->