{% extends "base.html" %}

{% block title %} Create Account {% endblock %}

{% block main %} 
<form action="/create_account" method="post">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="py-3">
                <h3>New Account</h3>
            </div>
            <div class="row g-3">
                <div class="col-12">
                    <label for="account" class="form-label">Account</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Account Name">
                </div>
                <div class="col-12">
                    <label for="maintain" class="form-label">Maintain Amount (Optional)</label>
                    <input type="text" class="form-control" name="maintain" id="maintain" placeholder="Enter Maintain Amount">
                </div>
                <div class="col-12">
                    <label for="bank" class="form-label">Bank</label>
                    <select class="form-select" name="bank" id="bank">
                        <option value="-1" disabled selected>Select Bank</option>
                        {% for bank in banks %}
                        <option value="{{ bank.id }}">{{ bank.name }} ({{ bank.account_number }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <label for="owner" class="form-label">Owner</label>
                    <select class="form-select" name="owner" id="owner">
                        <option value="-1" disabled selected>Select Owner</option>
                        {% for owner in owners %}
                        <option value="{{ owner.id }}">{{ owner.first_name }} {{ owner.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr class="my-4">
            <div class="row g-3">
                <button class="w-100 btn btn-success btn-lg" type="submit">Create</button>
                <a href="/view_accounts" class="w-100 btn btn-secondary btn-lg" role="button">Cancel</a>
            </div>

        </div>
    </div>
</form>
{% endblock %}