{% extends "base.html" %}

{% block title %} Edit Account {% endblock %}

{% block main %}
<form action="{{ url_for('edit_account', account_id=account.id) }}", method="post">
    <div class="row justify-content-center">
        <div class="col-6">

            <h3>Edit Account</h3>
            <div class="row g-3">
                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" value="{{ account.name }}">
                </div>
                <div class="col-12">
                    <label for="maintain" class="form-label">Maintain Amount</label>
                    <input type="text" class="form-control" name="maintain" id="maintain" value="{{ account.maintain }}">
                </div>
                <div class="col-12">
                    <label for="bank" class="form-label">Bank</label>
                    <select class="form-select" name="bank" id="bank">
                        <option value="{{ account.bank_id }}" selected>{{ account.bank_name }} ({{ account.bank_number }})</option>
                        {% for bank in banks %}
                        <option value="{{ bank.id }}">{{ bank.name }} ({{ bank.account_number }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <label for="owner" class="form-label">Owner</label>
                    <select class="form-select" name="owner" id="owner">
                        <option value="{{ account.owner_id }}" selected>{{ account.owner_name }}</option>
                        {% for owner in owners %}
                        <option value="{{ owner.id }}">{{ owner.first_name }} {{ owner.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr class="my-4">
            <div class="row g-3">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                <a href="/view_accounts" class="w-100 btn btn-secondary btn-lg" role="button">Cancel</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}