{% extends "base.html" %}

{% block title %} Edit Transaction {% endblock %}

{% block main %}
<form action="{{ url_for('edit_transaction', transaction_id=transaction.id) }}", method="post">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row g-3">
                <div class="col-12">
                    <label for="account" class="form-label">Account</label>
                    <select class="form-select" name="account" id="account" >
                        <option value="{{ transaction.account_id }}" selected>{{ transaction.account_name }} ({{transaction.bank_name}} - {{ transaction.owner_name}})</option>
                        {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.account_name }} ({{ account.bank_name }} - {{ account.owner_name }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" name="date" id="date" value="{{ transaction.date }}">
                </div>
                <div class="col-12">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="text" class="form-control" name="amount" id="amount" value="{{ transaction.amount }}">
                </div>
                <div class="col-12">
                    <label for="target" class="form-label">Source/Destination</label>
                    <input type="text" class="form-control" name="target" id="target" value="{{ transaction.target }}">
                </div>
                <div class="col-12">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" id="description" value="{{ transaction.description }}">
                </div>
            </div>
            <hr class="my-4">
            <div class="row g-3">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                <a href="/view_transactions" class="w-100 btn btn-secondary btn-lg" role="button">Cancel</a>
            </div>

        </div>
    </div>
</form>
{% endblock %}