{% extends "base_auth.html" %}

{% block title %}Login{% endblock %} 

{% block body %}
<form action="/login" method="post">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    <div class="form-floating">
        <input class="form-control top" type="text" name="username" id="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input class="form-control bottom" type="password" name="password" id="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <div class="form-floating">
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Log In ">
    </div>
</form>
<hr>
<div class="form-floating">
    <a href="/register"><input class="w-100 btn btn-lg btn-success" type="button" value="Register"></a>
</div>
{% endblock %}