{% extends "base_auth.html" %}

{% block title %}Register{% endblock %} 

{% block body %}
<form action="/register" method="post">
    <h1 class="h3 mb-3 fw-normal">Create an Account</h1>
    <div class="form-floating">
        <input class="form-control top" type="text" name="username" id="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input class="form-control middle" type="password" name="password" id="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <div class="form-floating">
        <input class="form-control bottom" type="password" name="confirmation" id="confirmation" placeholder="Re-enter Password">
        <label for="confirmation">Re-enter Password</label>
    </div>
    <div class="form-floating">
        <input class="w-100 btn btn-lg btn-success" type="submit" value="Register">
    </div>
    <hr>
    <div class="form-floating">
        <a href="/login"><input class="w-100 btn btn-lg btn-secondary" type="button" value="Cancel"></a>
    </div>
</form>
{% endblock %}