{% extends "base.html" %}

{% block title %} Transactions {% endblock %}

{% block main %}
<table class="table-default">
    <thead>
        <tr>
            <th>Date</th>
            <th>Owner</th>
            <th>Account</th>
            <th>Bank</th>
            <th>Amount</th>
            <th>Source / Destination</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1-Sep-2022</td>
            <td>Darwin</td>
            <td>Savings</td>
            <td>CIMB</td>
            <td>100</td>
            <td>Wallet</td>
            <td>Funds</td>
            <td><button value="Edit">Edit</button></td>
        </tr>
        <tr>
            <td>1-Sep-2022</td>
            <td>Mica</td>
            <td>Savings</td>
            <td>CIMB</td>
            <td>100</td>
            <td>Wallet</td>
            <td>Funds</td>
            <td><button value="Edit">Edit</button></td>
        </tr>
    </tbody>

</table>
{% endblock %}